@import "./style.css";

.cart-item {
  height: 100px;
  display: flex;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.cart-content {
  flex: 1;
  display: flex;
}

.cart-picture-container {
  height: 100%;
  width: 200px;
  overflow: hidden;
}

.cart-picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: var(--transition);
}

.cart-item:hover .cart-picture {
  transform: scale(1.1);
}

.cart-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

.cart-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
}

.remove {
  color: var(--secondary-color);
  margin: auto 1rem auto 0;
  cursor: pointer;
  text-decoration: underline;
  padding-bottom: 0.2rem;
}

.item-name {
  color: var(--secondary-color);
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-description {
  color: var(--dark-gray);
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item_price_text {
  color: var(--secondary-color);
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-carbon {
  color: var(--secondary-color);
  margin: 0;
  font-size: 1.2rem;
}

.checkout-button {
  background-color: var(--secondary-color);
  padding: 0.7rem 0;
  border-radius: 1rem;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  transition: var(--transition);
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
}

.checkout-button:hover {
  transform: translateY(0.2rem);
}

.no-items-text {
  text-align: center;
  font-size: 1.1rem;
  color: var(--dark-gray);
}
