@import "./style.css";

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
}

label {
  color: var(--secondary-color);
  margin-bottom: 0.4rem;
  margin-top: 1rem;
}

input {
  height: 2.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
}

input:focus {
  outline: 1px solid var(--primary-color);
  border-color: var(--primary-color);
}

input[type="submit"] {
  margin-top: 1.5rem;
}

textarea {
  min-height: 4rem;
  resize: vertical;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem 1rem 0.2rem 1rem;
  padding-left: 1rem;
  padding-top: 0.7rem;
  font-size: 1rem;
  font-family: inherit;
}

textarea:focus {
  outline: 1px solid var(--primary-color);
  border-color: var(--primary-color);
}

input[type="radio"] {
  outline: none;
  accent-color: var(--secondary-color);
  margin-right: 0.5rem;
  margin-left: 0.2rem;
}

.radio-label {
  margin-top: 0.9rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.error {
  color: var(--error-color);
  text-align: center;
  margin-top: 0.4rem;
}
