:root {
  --primary-color: #9271cb;
  --secondary-color: #381d78;
  --tertiary-color: #14023f;
  --dark-gray: #555555;
  --light-gray: #555555;
  --white: white;
  --error-color: #ff0033;
  /* old-primary #b78efe */
  --wrapper-width: 1000px;
  --transition: all ease-out 0.2s;
  --nav-height: 5rem;
}

body {
  margin: 0;
  background-color: var(--tertiary-color);

  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);

  height: 100%;
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

body > * {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

form {
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: var(--tertiary-color);
  border-bottom: 1px solid var(--primary-color);
  height: var(--nav-height);
}

.nav-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-links-container {
  margin: auto 0 auto auto;
}

.nav-title {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  margin-left: 1rem;
  color: var(--white);
  font-weight: bold;
}

.nav-link-faint {
  opacity: 50%;
}

.wrapper {
  max-width: var(--wrapper-width);
  padding: 0 2rem;
  margin: 0 auto;
}

.button {
  background-color: var(--secondary-color);
  padding: 0.7rem 1rem;
  height: 40px;
  border-radius: 1rem;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  transition: var(--transition);
  cursor: pointer;
}

.hover-move {
  transition: var(--transition);
}

.button:hover,
.hover-move:hover {
  transform: translateY(0.2rem);
}

.highlight {
  color: var(--primary-color);
}

.title-container {
  padding: 6rem 0;
  background: linear-gradient(var(--tertiary-color), var(--secondary-color));
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 5rem;
  margin: 0 auto;
}

.small-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
  margin: 0 auto;
}

.info-text {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.7rem;
  width: 80%;
  margin: 2rem auto auto auto;
}

.small-info-text {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.7rem;
  width: 80%;
  margin: 1rem auto auto auto;
}

.content-container {
  background-color: var(--white);
  padding: 2rem 0;
  color: var(--dark-gray);
  flex: 1;
}

.full-container {
  min-height: calc(100vh - var(--nav-height));
  background: linear-gradient(var(--tertiary-color), var(--secondary-color));
  text-align: center;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.flash-container {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  animation: 5s ease-out 0s 1 slideInLeft forwards;
  margin-top: 5.5rem;
}

.flash {
  display: flex;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.1rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: var(--white);
  max-width: 400px;
}
