{% extends 'layout.html' %} {% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}" />
{% endblock header %} {% block content %}
<div class="title-container">
  <div class="wrapper">
    <h1 class="small-title">Delt<span class="highlight">Δ</span>verse Cart.</h1>
    <p class="small-info-text">
      These are the items in your cart.
      <span class="highlight">Go to checkout</span> to purchase them.
    </p>
  </div>
</div>
<div class="content-container">
  <div class="wrapper">
    {% for item in items %}
    <a href="{{ url_for('product', product_id=item.id) }}" class="cart-item">
      <div class="cart-picture-container">
        <img src="{{ item.picture }}" alt="cover" class="cart-picture" />
      </div>
      <div class="cart-content">
        <div class="cart-info">
          <p class="item-name">{{ item.name }}</p>
          <p class="item-description">{{ item.description }}</p>
        </div>
        <div class="cart-values">
          <p class="item-price" style="margin-bottom: 0.5rem">
            £{{ item.price }}
          </p>
          <div style="display: flex">
            <img
              src="{{ url_for('static', filename='carbon.svg') }}"
              alt="carbon emmisions"
            />
            <p class="item-price" style="margin: 0.1rem 0 0 0.5rem">
              {{ item.carbon }}g
            </p>
          </div>
        </div>
      </div>
      <div class="remove-button">Remove</div>
    </a>
    {% endfor %}
    <a href="{{ url_for('checkout') }}" class="checkout-button">
      Go to checkout
    </a>
  </div>
</div>
{% endblock content %}
