{% extends 'layout.html' %} 
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cart.css') }}" />
{% endblock header %} 
{% block content %}
<div class="title-container">
  <div class="wrapper">
    <h1 class="small-title">Delt<span class="highlight">Δ</span>verse Cart.</h1>
    <p class="small-info-text">
      These are the items in your cart.
      <span class="highlight">Go to checkout</span> to purchase them.
    </p>
  </div>
</div>
<div class="content-container">
  <div class="wrapper">
    {% if items[0] %}
      <h2 class="total_price_text" >Total Price - <span class="highlight">£<span id="total_price">{{ total_price }}</span></span></h2>
    {% endif %}
    {% for item in items %}
    <a href="{{ url_for('product', product_id=item.id) }}" class="cart-item">
      <div class="cart-picture-container">
        <img src="{{ item.picture }}" alt="cover" class="cart-picture"/>
      </div>
      <div class="cart-content">
        <div class="cart-info">
          <p class="item-name">{{ item.name }}</p>
          <p class="item-description">{{ item.description }}</p>
        </div>
        <div class="cart-values">
          <p class="item_price_text">
            £<span class="item_price">{{ item.price }}</span>
          </p>
          <!-- <div style="display: flex">
            <img
              src="{{ url_for('static', filename='images/carbon.svg') }}"
              alt="carbon emmisions"
            />
            <p class="item-carbon" style="margin: 0.1rem 0 0 0.5rem">
              {{ item.carbon }}g
            </p>
          </div> -->
        </div>
      </div>
      <form method="POST" action="" style="height: 100%; display: flex;">
        <button type="submit" name="remove_item" value="{{ item.id }}" class="remove">
          Remove
        </button>
      </form>
      <!-- <div class="remove-button">Remove</div> -->
    </a>
    {% endfor %}
    {% if not current_user.cart[0] %}
    <p class="no-items-text">There is nothing in your cart. Go the the <a href="{{ url_for('home') }}" class="highlight">DeltΔverse Market</a> page to add items to your cart.</p>
    {% else %}
    <a href="{{ url_for('checkout') }}" id="checkout" class="checkout-button">
      Go to checkout
    </a>
    {% endif %}
  </div>
</div>
{% endblock content %}
