{% extends 'layout.html' %} 
{% block header %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/checkout.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/form.css') }}"
/>
{% endblock header %} 
{% block content %}
<div class="title-container">
  <div class="wrapper">
    <h1 class="small-title">
      Checkout from the Delt<span class="highlight">Δ</span>verse.
    </h1>
    <p class="small-info-text">
      Checkout to get your <span class="highlight">flashy, virtual</span> goods.
    </p>
  </div>
</div>
<div class="content-container">
  <div class="wrapper" style="display: flex">
    <div class="left-content">
      <p class="your-cart-text">Payment Details</p>
      <form method="POST" action="" class="form-container checkout_form" novalidate>
        {{ form.csrf_token }} 
        {{ form.name.label(style="margin-top: 0") }} {{ form.name }} 
        {% for error in form.name.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}  
        {{ form.card_no.label }} {{ form.card_no }}
        {% for error in form.card_no.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %} 
        <input type="submit" id="submit" value="Checkout" class="button"/>
      </form>
    </div>
    <div class="right-content">
      <p class="your-cart-text">Your Cart - <span class="highlight" >£{{ total_price }}</span></p>

      {% for item in items %}
      <div class="cart-item">
        <img src="{{ item.picture }}" alt="cover" class="cart-picture" />
        <div class="cart-content">
          <p class="item-name">{{ item.name }}</p>
          <div class="cart-info">
            <p class="item-price" style="margin-right: 1rem">
              £{{ item.price }}
            </p>
            <!-- <div style="display: flex">
              <img
                src="{{ url_for('static', filename='images/carbon.svg') }}"
                alt="carbon emmisions"
              />
              <p class="item-price" style="margin: 0.1rem 0 0 0.5rem">
                {{ item.carbon }}g
              </p>
            </div> -->
          </div>
        </div>
      </div>
      {% endfor %}

      <a href="{{ url_for('cart') }}" class="back-button">Back to cart</a>
    </div>
  </div>
</div>
{% endblock content %}
