{% extends 'layout.html' %} {% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
{% endblock header %} {% block content %}
<div class="title-container">
  <div class="wrapper">
    <h1 class="title">Delt<span class="highlight">Δ</span>verse Market.</h1>
    <p class="info-text">
      Did you know that in maths, the greek symbol deltΔ is used to describe the
      <span class="highlight">change in</span> a value? Well at DeltΔverse our
      core values stem from bringing positive change into our very own world.
    </p>
  </div>
</div>
<div class="content-container">
  <div class="wrapper">
    <div class="filters-container">
      <div style="display: flex">
        <div class="filter-item hover-move" style="background-color: #381d78">
          All
        </div>
        {% for category in categories %}
        <div class="filter-item hover-move">{{ category.name }}</div>
        {% endfor %}
      </div>

      <div style="position: relative">
        <select name="sort">
          <option value="price_low">Price: Low to High</option>
          <option value="price_high">Price: Hight to Low</option>
          <option value="eco_low">Carbon: Low to High</option>
        </select>
        <img
          src="{{ url_for('static', filename='chevron-down.svg') }}"
          alt="chevron-down"
          style="position: absolute; right: 0; margin: 0.6rem 0.5rem"
        />
      </div>
    </div>

    <div class="item-container">
      {% for item in items %}
      <a href="{{ url_for('product', product_id=item.id) }}" class="item">
        <div class="item-picture-container">
          <img src="{{ item.picture }}" alt="cover" class="item-picture" />
        </div>
        <div style="padding: 1rem">
          <p class="item-name">{{ item.name }}</p>
          <p class="item-description">{{ item.description }}</p>
          <div
            style="
              display: flex;
              justify-content: space-around;
              margin-bottom: 1rem;
            "
          >
            <p class="item-price">£{{ item.price }}</p>
            <div style="display: flex">
              <img
                src="{{ url_for('static', filename='carbon.svg') }}"
                alt="carbon emmisions"
              />
              <p class="item-price" style="margin: 0.1rem 0 0 0.5rem">
                {{ item.carbon }}g
              </p>
            </div>
          </div>
          <div class="button">Add to basket</div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
