{% extends 'layout.html' %} 
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}" />
{% endblock header %} 
{% block content %}
<div class="title-container">
  <div class="wrapper">
    <h1 class="title">Delt<span class="highlight">Δ</span>verse Market.</h1>
    <!-- Not my choice to have "shop" in a span element. Needed for the test to pass. -->
    <p class="info-text">
      Did you know that in maths, the greek symbol deltΔ is used to describe the
      <span class="highlight">change in</span> a value? Well at the DeltΔverse
      <span>shop</span> our core values stem from bringing positive change into
      our very own world.
    </p>
  </div>
</div>
<div class="content-container">
  <div class="wrapper">
    <form method="POST" action="" style="display: flex; margin-top: 1rem;">
      <input type="hidden" name="form_name" value="search_items">
      <input type="hidden" name="category_id" value="{{ category_id }}" >
      <input type="hidden" name="sort" value="{{ sort }}" >
      <input type="text" name="search" placeholder="Search..." value="{{ search }}" style="width: 17rem;">
      <button type="submit" name="submit" class="button" style="width: auto; margin-left: 1rem;">
        Search
      </button>
    </form>
    <div class="filters-container">
      <form method="POST" action="" style="display: flex;">
        <input type="hidden" name="form_name" value="filters">
        <input type="hidden" name="sort" value="{{ sort }}" >
        <input type="hidden" name="search" value="{{ search }}">
        <button type="submit" name="filter_items" value="0" class="filter-item hover-move {{ 'selected-filter-item' if category_id == 0 }}">
          All
        </button>
      {% for category in categories %}
        <button type="submit" name="filter_items" value="{{ category.id }}" class="filter-item hover-move {{ 'selected-filter-item' if category_id == category.id }}">
          {{ category.name }}
        </button>
        <!-- <div class="filter-item hover-move">{{ category.name }}</div> -->
        {% endfor %}
      </form>

      <form method="POST" action="" style="position: relative">
        <input type="hidden" name="form_name" value="sort_items">
        <input type="hidden" name="category_id" value="{{ category_id }}" >
        <input type="hidden" name="search" value="{{ search }}">
        <select name="sort" onchange="this.form.submit()">
          <option value="price_low" {% if sort=='price_low' %} selected="selected" {% endif %}>Price: Low to High</option>
          <option value="price_high" {% if sort=='price_high' %} selected="selected" {% endif %}>Price: Hight to Low</option>
          <option value="eco_low" {% if sort=='eco_low' %} selected="selected" {% endif %}>Carbon: Low to High</option>
        </select>
        <img
          src="{{ url_for('static', filename='images/chevron-down.svg') }}"
          alt="chevron-down"
          style="position: absolute; right: 0; margin: 0.6rem 0.5rem"
        />
      </form>
    </div>

    <div class="item-container">
      {% for item in items %}
      <a href="{{ url_for('product', product_id=item.id) }}" class="gallery_item">
        <div class="item-picture-container details">
          <img src="{{ item.picture }}" alt="cover" class="item-picture"/>
        </div>
        <div style="padding: 1rem;">
          <div>
            <p class="item_name">{{ item.name }}</p>
            <p class="item_description">{{ item.description }}</p>
          </div>
          <div class="item-tag-container">
            <p class="item-tag">
              £<span class="item_price">{{ item.price }}</span>
            </p>
            <div class="item-tag" style="display: flex;">
              <img
                src="{{ url_for('static', filename='images/carbon.svg') }}"
                alt="carbon emmisions"
                style="margin-bottom: 0.2rem;"
              />
              <p class="item-carbon" style="margin: 0 0 0 0.5rem">
                {{ item.carbon }}g
              </p>
            </div>
            <!-- <p class="item-tag">{{ item.category.name }}</p> -->
          </div>
          <form method="POST" action="">
            <input type="hidden" name="form_name" value="add_to_cart">
            <input type="hidden" name="sort" value="{{ sort }}" >
            <input type="hidden" name="search" value="{{ search }}">
            <input type="hidden" name="category_id" value="{{ category_id }}" >
            <button type="submit" name="add_to_cart" value="{{ item.id }}" class="button add_to_cart">
              Add to cart
            </button>
          </form>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
