<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
    />
    {% block header %} 
    {% endblock %}
    <title>DeltΔverse</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        function delete_flash(flash){
          $(flash).parent().remove()
        }

        document.addEventListener("DOMContentLoaded", function(event) { 
          var scrollpos = localStorage.getItem('scrollpos');
          var pathname = localStorage.getItem('pathname')
          if (scrollpos && pathname && window.location.pathname === pathname) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
          localStorage.setItem('scrollpos', window.scrollY);
          localStorage.setItem('pathname', window.location.pathname)
        }
    </script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-container">
          {% for message in messages %}
            <div class="flash login_error">
              <p style="margin-right: 0.5rem;">{{ message }}</p>
              <img src="{{ url_for('static', filename='images/x.svg') }}" alt="cross" onclick=delete_flash(this) style="margin-left: auto;">
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <script>
      var flashTop = $('.flash-container').offset().top;
      $(window).scroll(function() {                 
          var currentScroll = $(window).scrollTop(); 
          if (currentScroll >= flashTop - 8) {           
              $('.flash-container').css({                   
                  position: 'fixed',
                  marginTop: '0.5rem'
              });
          } else {                         
              $('.flash-container').css({           
                  position: 'absolute',
                  marginTop: '5.5rem'
              });
          }
      });
    </script>
    <nav class="navbar">
      <div class="wrapper nav-container">
        <a href="{{ url_for('home') }}" class="nav-title"
          >Delt<span class="highlight">Δ</span>verse</a
        >
        <div class="nav-links-container">
            <a id="login" href="{{ url_for('login') }}" class="nav-link {{ 'nav-link-faint' if current_user.is_authenticated }}"
              >Log In</a
            >
            <a id="register" href="{{ url_for('register') }}" class="nav-link {{ 'nav-link-faint' if current_user.is_authenticated }}"
            >Register</a
            >
            <a id="logout" href="{{ url_for('logout') }}" class="nav-link {{ 'nav-link-faint' if not current_user.is_authenticated }}"
              >Log Out</a
            >
            <a id="show_cart" href="{{ url_for('cart') }}" class="nav-link {{ 'nav-link-faint' if not current_user.is_authenticated }}"
              >Cart</a
            >
          {% if current_user.is_authenticated %}
            <a id="profile" href="{{ url_for('profile') }}" class="nav-link">
              {{ current_user.username }}
            </a>
          {% endif %}
        </div>
      </div>
    </nav>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
