<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>DeltΔverse</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="wrapper nav-container">
        <a href="{{ url_for('home') }}" class="nav-title"
          >Delt<span class="highlight">Δ</span>verse</a
        >
        <div class="nav-links-container">
          <a id="login" href="{{ url_for('login') }}" class="nav-link"
            >Log In</a
          >
          <a id="logout" href="{{ url_for('home') }}" class="nav-link"
            >Log Out</a
          >
          <a id="register" href="{{ url_for('register') }}" class="nav-link"
            >Resister</a
          >
          <a id="show_cart" href="{{ url_for('cart') }}" class="nav-link"
            >Cart</a
          >
        </div>
      </div>
    </nav>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
