{% extends 'layout.html' %} {% block header %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/form.css') }}"
/>
{% endblock header %} {% block content %}
<div class="title-container">
  <div class="wrapper">
    <h1 class="small-title">
      Log In to the Delt<span class="highlight">Δ</span>verse.
    </h1>
  </div>
</div>
hello
<div class="content-container">
  <div class="wrapper">
    <form method="POST" action="" class="form-container" novalidate>
      {{ form.csrf_token }} {{ form.username.label }} {{ form.username }} {% for
      error in form.username.errors %}
      <span class="error">{{ error }}</span>
      {% endfor %} {{ form.password.label }} {{ form.password }} {% for error in
      form.password.errors %}
      <span class="error">{{ error }}</span>
      {% endfor %}
      <input type="submit" value="Log In" class="button" />
    </form>
  </div>
</div>
{% endblock content %}
