{% extends 'layout.html' %} {% block header %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/product.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/form.css') }}"
/>
{% endblock header %} {% block content %}
<div class="title-container">
  <div class="wrapper">
    <div class="item-container">
      <img src="{{ item.picture }}" alt="cover" class="item-picture" />
      <div class="item-content">
        <div>
          <p class="item-title" style="margin-right: auto">{{ item.name }}</p>
          <div class="item-tag-container">
            <p class="item-tag">£{{ item.price }}</p>
            <div class="item-tag" style="display: flex">
              <img
                src="{{ url_for('static', filename='images/carbon.svg') }}"
                alt="carbon emmisions"
                style="margin-bottom: 0.2rem"
              />
              <p class="item-carbon" style="margin: 0 0 0 0.5rem">
                {{ item.carbon }}g
              </p>
            </div>
            <p class="item-tag">{{ item.category.name }}</p>
          </div>
          <p>{{ item.description }}</p>
        </div>
        <form method="POST" action="">
          <input type="hidden" name="form_name" value="add_to_cart" />
          <button
            type="submit"
            name="add_to_cart"
            value="{{ item.id }}"
            class="button"
          >
            Add to cart
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="content-container">
  <div class="wrapper">
    <h2 class="reviews-text">Reviews</h2>
    {% if not item.reviews[0] %}
    <p class="no-reviews-text">
      This Item has no reviews, be the first to review it?
    </p>
    {% else %} {% for review in item.reviews %}
    <div class="review-container">
      {% if review.user.picture_url %}
      <img src="{{ review.user.picture_url }}" alt="user" class="user-icon" />
      {% else %}
      <img
        src="{{ url_for('static', filename='images/default.jpeg') }}"
        alt="user"
        class="user-icon"
      />
      {% endif %}
      <div>
        <p class="review-title">
          {{ review.title }} -
          <span class="highlight">{{ review.user.username }}</span>
        </p>
        <p class="review-description">{{review.text}}</p>
        {% for _ in range(review.rating) %}
        <img
          src="{{ url_for('static', filename='images/star-fill.svg') }}"
          alt="star"
          style="margin-right: 0.3rem"
        />
        {% endfor %} {% for _ in range(5 - review.rating) %}
        <img
          src="{{ url_for('static', filename='images/star.svg') }}"
          alt="star"
          style="margin-right: 0.3rem"
        />
        {% endfor %}
      </div>
    </div>
    {% endfor %} {% endif %} {% if current_user.is_authenticated %}
    <form
      method="POST"
      action=""
      class="review-form"
      novalidate
      style="text-align: left"
    >
      <!-- Top -->
      <h3 class="review-form-header">Review {{ item.name }}</h3>
      {{ form.csrf_token }}
      <input type="hidden" name="form_name" value="review_form" />
      <!-- Review Title -->
      {{ form.title.label }} {{ form.title }} {% for error in form.title.errors
      %}
      <span class="error" style="text-align: left">{{ error }}</span>
      {% endfor %}
      <!-- Review Text -->
      {{ form.text.label }} {{ form.text }} {% for error in form.text.errors %}
      <span class="error" style="text-align: left">{{ error }}</span>
      {% endfor %}
      <!-- Review Rating -->
      {{ form.rating.label }}
      <div style="display: flex">
        {% for subfield in form.rating %}
        <tr>
          <td>{{ subfield.label(class="radio-label") }}</td>
          <td>{{ subfield }}</td>
        </tr>
        {% endfor %}
      </div>
      {% for error in form.rating.errors %}
      <span class="error" style="text-align: left">{{ error }}</span>
      {% endfor %}
      <!-- Review Submit -->
      <input type="submit" value="Review Product" class="button" />
    </form>
    {% else %}
    <p class="no-reviews-text" style="margin-top: 2rem">
      <a href="{{ url_for('login') }}" class="highlight">Log in</a> to review
      this product.
    </p>
    {% endif %}
  </div>
</div>
{% endblock content %}
